@{
    ViewData["Title"] = "Home Page";
}

<p><strong>Summary</strong></p>
<br />
<p>
    Thank you for your interest in working for us. To assess your skills for the position you are applying for we
    have created a simple technical assignment. This assignment can be solved offline, in your own time using
    MVC and Rest API. Once you have completed the assignment, please send us a public GitHub repo link of
    your solution, and email it to us. Based on the outcome of your solution you will enter the 2nd round of
    our hiring process.
</p>
<p>Solve this assignment in 2 commits. Make the first one after point a) and other after point b).</p>
<br />
<p><strong>Tasks</strong></p>
<br />
<br />
<p><strong>a) Visualize JSON data via HTML table using C#</strong></p>
<br />
<p>
    Write a program that will create a html page, showing a table of employees that are ordered by
    the total time worked. The table should show the Name, and the Total time worked. Color the
    table row if the employee worked less than 100 hours. The data for this task must be retrieved
    from a GET call on following API endpoint:
    <a src="https://rc-vault-fap-live-1.azurewebsites.net/api/gettimeentries?code={key}">https://rc-vault-fap-live-1.azurewebsites.net/api/gettimeentries?code={key}</a>
</p>
<br />
<br />
<p><strong>b) Visualize JSON data in a PIE Chart using C#</strong></p>
<p>
    Write a program that will generate a PNG (image) file using the data from the REST endpoint.
    Pie-chart will be showing a percentage of the total time worked by an employee.
</p>